{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  .imgprop{
    width: 1000px;
    max-height: 400px;
    max-width: 1000px;
  }
</style>
<title>Cat WORLD</title>
<div class="container">
  <form method="POST">{% csrf_token %}
    <button class="btn btn-lg btn-primary btn" name="getcat" type="submit">Get Cat</button>
  </form>
  <br>
  <div class="container m-auto">
    <img class="imgprop" src="{{image_url}}">
  </div>
  <br><hr>
  <form method="POST">{% csrf_token %}
    <button class="btn btn-lg btn-primary btn" name="getcatfact" type="submit">Get Cat Fact</button>
  </form>
  <br>
  <h4 class='m-auto'> {{cat_fact}} </h4>
  <br><hr>
  <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-lg btn-primary btn" name="sendcat" type="submit">Send Cat Fact and Image</button>
  </form>
</div>

{% endblock %}
